{% extends "base.html" %}
{% block body %}

<!-- leaflets CSS -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<!-- leaflets JS -->
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<script>

  var map = undefined;
  var markerLayerGroup = undefined;
  var markerArray = [];

  $(document).ready(function(){
    map = L.map('map').setView([42.380491, 20.427397], 17);

    L.tileLayer('http://{s}.tiles.mapbox.com/v3/georges.jjc3k7b1/{z}/{x}/{y}.png', {
        attribution: 'Data Source: <a href="http://opendatakosovo.org">Open Data Kosovo</a>',
        maxZoom: 20
    }).addTo(map);

    $( ".category-select" ).change(function() {
      cat = $(this).val()
      if (cat != ''){
        addMarkers(cat);
      }else if(markerLayerGroup != undefined){
        // No category selected, cleat the map.
        map.removeLayer(markerLayerGroup);
      }
    });

  });

  function addMarkers(category){
    // Reset marker array
    markerArray = [];

    // Clear previous layer of markers
    if(markerLayerGroup != undefined){
        map.removeLayer(markerLayerGroup);
    }

    $.get( "{{ config.BASE_PATH }}/json/businesses/" + category, function( businesses ) {
      $(businesses).each(function( idx, biz ) {

        var name = biz.business_name;
        var lat = biz.location.coordinates.latitude;
        var lon = biz.location.coordinates.longitude;
        
        if(lat != null && lon != null){
          var marker = L.marker([lat, lon]).addTo(map);

          var titleHtml = "<strong>" + name + "</strong>";
          var imgHml = "<img width='250' src='" + biz.picture.inside + "'/>";

          
          var description = biz.other_information;
          if(description.length >= 100){
            description = description.substring(0, 100) + "...";
            
          }
          var descriptionHtml = "<strong>Pershkrimi:</strong> " + description;

          var specialtyHtml = "<strong>Specialiteti:</strong> " + biz.speciality;

          var htmlContent = titleHtml + "<br>" + imgHml + "<br><br>" + descriptionHtml + "<br>" + specialtyHtml;
          marker.bindPopup(htmlContent);

          markerArray.push(marker);
        }
      });

      markerLayerGroup = L.layerGroup(markerArray);
      map.addLayer(markerLayerGroup);

    });
  }
</script>

<div style="padding-left:1%;padding-right:1%">

  <h1 class="page-title">Interactive Map of Gjakova</h1>

  <hr style="margin-left:25%;margin-right:25%" class="style-eight">

  <div style="text-align: center;">
    Welcome to the interactive map of Gjakova. You can use the mapping system below to search for and locate places of interest in Gjakova. Choose a category to display, then click on the map pins to find out more.
  </div>

  <br>
  <br>

  <div class="category-selection-box">

    <span class="text">Please choose a category to locate places of interest on the map below:</span>&nbsp;&nbsp;
    <select class="category-select">
      <option value="">Choose a Category</option>
      <option value="Craft Shop">Craft Shop</option>
      <option value="Clothing Shop">Clothing Shop</option>
      <option value="Shoe Shop">Shoe Shop</option>
      <option value="Cafe">Cafes</option>
      <option value="Restaurant">Restaurants</option>
      <option value="Bar">Bars</option>
      <option value="Other">Others</option>
    </select>
  </div>

  <br>
  <br>

  <div id="map">
  </div>

</div>



{% endblock %}